# ============================================================
# ---------------------- GENRAL URI & PORTS  ----------------------

PORT = 5002
CORS = "http://localhost:5173"

# APP_NAME = "LOR"

# ============================================================
# ---------------------- MONGODB URI  ----------------------

MONGODB_URI ="mongodb_uri"

# ============================================================
# ---------------------- TOKEN SECRET & EXPIRY ----------------------

ACCESS_TOKEN_SECRET = "access token secret"
REFRESH_TOKEN_SECRET = "refresh token secret"
ACCESS_TOKEN_EXPIRY = 2h
REFRESH_TOKEN_EXPIRY = 1d


# ============================================================
# ---------------------- CLODINARY SCRET & API_KEY  ----------------------


CLOUDINARY_API_SECRET="cloudinary_api_secret"
CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_URI="cloudinary_uri"
CLOUDINARY_CLOUD_NAME = "cloudinary_cloud_name"


# ============================================================

SMTP_SERVER = "smtp_server"
SMTP_PORT= port_of_smpt
SMTP_LOGIN = "smpt_login"
SMTP_PASSWORD= "smpt_password"
SMTP_API_KEY ="smpt_key"


# ============================================================
